body{
background-color: aqua;
height: 3000px;
}

.container{
display: flex;
height: 70px;
background-color: white;
margin-top: 20px;
white-space: normal;
border: none;
font-size: 20px;

}



.hello{
height: 50px;
margin-left: 80px;
margin-top: 5px;
}

 h1:hover{  
background-color: black;  
}



.zeb{
background-color: white;
color: aqua;
font-size: 25px;
border: none;
white-space: normal;
display: block;
outline: 0;
margin-top: 0px;
align-items: center;
padding-left: 18px;
padding-right: 18px;
float: left;
width: auto;
padding: 25px;


}



.pic{
width: 100%;
height: 550px;
margin-top: 0px;
}


.jump{
font-size: 50px;
margin-left: 100px;
margin-top: 40px;
}



.lol{
display: flex;
height: 450px;
margin-left: 100px;
margin-right: 600px;
background-color: white;
margin-top: 70px;
width: 400px;
border-radius: 10px; 
}




.ab{
height: 180px;
width: 400px;
border-radius: 10px;
}

.bike{
display: flex;
height: 260px;
margin-top: -265px;
margin-left: 110px;
background-color: white;
width: 380px;
}

.jk{
font-size: 27px;
margin-top: 0px;
}

.lm{
font-size: 20px;
margin-left: -60px;
}



.lol2{
display: flex;
height: 450px;
margin-left: 550px;
margin-right: 600px;
background-color: white;
margin-top: -445px;
width: 400px;
border-radius: 10px; 
}

.bc{
height: 180px;
width: 400px;
border-radius: 10px;
}



.taxi{
display: flex;
height: 260px;
margin-top: -265px;
margin-left: 560px;
background-color: white;
width: 380px;
}


.mn{
font-size: 20px;
margin-left: -60px;
}


.lol3{
display: flex;
height: 450px;
margin-left: 1000px;
margin-right: 600px;
background-color: white;
margin-top: -445px;
width: 400px;
border-radius: 10px; 
}



.cd{
height: 180px;
width: 400px;
border-radius: 10px;
}

.travel{
display: flex;
height: 260px;
margin-top: -265px;
margin-left: 1010px;
background-color: white;
width: 380px;
}
.k{
font-size: 25px;
margin-top: 0px;
}

.n{
font-size: 20px;
margin-left: -170px;
}


.lol4{

height: 130px;
width: 100%;
background-color: white;
margin-top: 40px;
 display: flex;
white-space: normal;
border: none;

}


.jac{
font-size: 50px;
margin-top: 40px;
margin-left: 100px;
}

 
.brand1{
height: 135px;
margin-left: 100px;
width: 180px;
background-color: white;
margin-top: 20px;
border-radius: 10px;

}

.dot{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}




.brand2{
height: 135px;
margin-left: 320px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot1{
height: 110px;
width: 150px;
margin-left: 20px;
margin-top: 10px;
}

.brand3{
height: 135px;
margin-left: 540px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot2{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand4{
height: 135px;
margin-left: 760px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot3{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand5{
height: 135px;
margin-left: 980px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot4{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand6{
height: 135px;
margin-left: 1200px;

width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot5{
height: 110px;
width: 150px;
margin-left: 20px;
margin-top: 10px;
}



.brand7{
height: 135px;
margin-left: 100px;
width: 180px;
background-color: white;
margin-top: 20px;
border-radius: 10px;
}

.dot6{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand8{
height: 135px;
margin-left: 320px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot7{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand9{
height: 135px;
margin-left: 540px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot8{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand10{
height: 135px;
margin-left: 760px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot9{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand11{
height: 135px;
margin-left: 980px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot10{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

.brand12{
height: 135px;
margin-left: 1200px;
width: 180px;
background-color: white;
margin-top: -160px;
border-radius: 10px;
}

.dot11{
height: 110px;
width: 150px;
margin-left: 15px;
margin-top: 10px;
}

 h6:hover{  
background-color: orange;
height: 135px;


}


.jack{
font-size: 50px;
margin-top: 40px;
margin-left: 100px;
}


.a{

height: 130px;
padding-left: 15px;
padding-right: 5px;
margin-top: -70px; 
float: left;
width: auto;
border: none;
white-space: normal;
display: block;
outline: 0;

align-items: center;
padding: 60px;
}

h2{
margin-top: 10px;
height: 130px;
}

 h2:hover{  
background-color: orange;
height: 110px;


}



.heal{
height: 450px;
background-color: white;
margin-top: 40px;
margin-left: 100px;
margin-right: 100px;
}

.why{
font-size: 30px;
margin-top: 40px;
margin-left: 100px;
}

.no{
font-size: 20px;
margin-left: 30px;
margin-right: 100px;
}

.why2{
height: 80px;
background-color: white;
margin-top: 40px;
margin-left: 130px;
width: 280px;
font-size: 20px;
}

.ro{
height:70px;
margin-top: 10px;
margin-left: 20px;
}

.ro1{
margin-top:-40px;
margin-left: 100px;
}

.why3{
height: 80px;
background-color: white;
margin-top: -80px;
margin-left: 450px;
width: 280px;
font-size: 20px;
}

.ro2{
margin-top:-40px;
margin-left: 110px;
}

.why4{
height: 80px;
background-color: white;
margin-top: -80px;
margin-left: 770px;
width: 280px;
font-size: 20px;
}

.ro3{
margin-top:-40px;
margin-left: 100px;
}


.why5{
height: 80px;
background-color: white;
margin-top: -80px;
margin-left: 1100px;
width: 280px;
font-size: 20px;
}

.ro4{
margin-top:-40px;
margin-left: 100px;
}




.foot{

background-color: white;
margin-top: 30px;
height: 200px;
}

.fat{
font-size: 25px;
margin-top: -180px;
margin-left: 160px;

}

.fat2{
margin-left: 170px;
font-size: 16px;


}

.fat3{
font-size: 25px;
margin-top: -190px;
margin-left: 480px;
}

.fat4{
font-size: 25px;
margin-top: -50px;
margin-left: 810px;
}

.fat5{
font-size: 25px;
margin-top: -55px;
margin-left: 1120px;
}
